*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: "Noto Sans Korean", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "Malgun Gothic", "맑은 고딕", "Apple SD Gothic Neo",sans-serif;
	font-size: 18px;
	letter-spacing: -0.027777777777777776em;
	word-break: keep-all;
	font-weight: 400;
	color: #666;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
strong, b {
	font-weight: 700;
}
a {
	color: #666;
	text-decoration: none;
}
body:before, body:after {
	content: "";
	position: fixed;
	z-index: 9999;
	background-color: #fafafa;
	left: 0;
	right: 0;
	height: 30px;
}
body:before {
	top: 0;
}
body:after {
	bottom: 0;
}
body {
	padding: 0px;
	border-left: 30px solid #fafafa;
	border-right: 30px solid #fafafa;
	background-color: #fafafa;
}
.body-wrap:before, .body-wrap:after {
	content: "";
	position: fixed;
	z-index: 8888;
	background-color: #11acd1;
	left: 30px;
	right: 30px;
	height: 30px;
}
.body-wrap:before {
	top: 30px;
}
.body-wrap:after {
	bottom: 30px;
}
.body-wrap {
	position: relative;
	padding: 60px;
	border-left: 30px solid #11acd1;
	border-right: 30px solid #11acd1;
}
/* responsive video container */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* column setting */
/* column 중복 사용 */
.row {
	margin-left: -15px;
	margin-right: -15px;
}
	.row:after {
		display: table;
		content: "";
		clear: both;
	}
	.row:before {
		display: table;
		content: "";
	}
/* grid gutter 설정*/
*[class|="col"] {
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
	/* 2등분, 3등분, 4등분, 5등분, 10등분, 12등분 */
	.col-half, .col-2-1, .col-4-2, .col-6-3, .col-10-5, .col-12-6 { width: 50%; }
	.col-3-1, .col-6-2, .col-12-4 { width: 33.3333333333%; }
	.col-3-2, .col-6-4, .col-12-8 { width: 66.6666666666%; }
	.col-4-1, .col-12-3 { width: 25%; }
	.col-4-3, .col-12-9 { width: 75%; }
	.col-5-1, .col-10-2 { width: 20%; }
	.col-5-2, .col-10-4 { width: 40%; }
	.col-5-3, .col-10-6 { width: 60%; }
	.col-5-4, .col-10-8 { width: 80%; }
	.col-6-1, .col-12-2 { width: 16.6666666666%; }
	.col-6-5, .col-12-10 { width: 83.3333333333% }
	.col-10-1 { width: 10%; }
	.col-10-3 { width: 30%; }
	.col-10-7 { width: 70%; }
	.col-10-9 { width: 90%; }
	.col-12-1 { width: 8.3333333333%; }
	.col-12-5 { width: 41.6666666666%; }
	.col-12-7 { width: 58.3333333333%; }
	.col-12-11 { width: 91.6666666666%; }
	.col-full { width: 100%; }
/* column offset */
.offset-2-1 { margin-left: 50%; }
.offset-12-2 { margin-left: 16.6666666666%;}
.offset-3-1 { margin-left: 33.3333333333%; }

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}
.pri-color {
	color: #11acd1;
}
.logo {
	position: fixed;
	z-index: 7777;
	top: 90px;
	right: 120px;
	margin: 0;
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
	.logo a {
		background: url(../img/logo.svg) no-repeat 0 0;
		background-size: contain;
		display: inline-block;
		padding: 75px;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}
.m-nav-icon {
	display: none;
}
.global-nav {
	position: fixed;
	z-index: 6666;
	top: 60px;
	padding: 60px 30px 30px 0;
	line-height: 1em;
	transition: all 0.2s;
}
.global-nav:hover {
	background-color: #fafafa;
}
.global-nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 1.3333333333333333em;
	font-weight: 900;
	letter-spacing: 0.04em;
	color: #11acd1;
	text-transform: uppercase;
}
.global-nav li {
	float: left;
	color: #11acd1;
}
.global-nav li:before {
	content: "/";
	margin: 0 0.5em;
}
.global-nav li:first-child:before {
	content: "";
	margin: 0;
}
.global-nav li a {
	color: #11acd1;
}
.global-nav li a:hover, .global-nav li a.active {
	
}
.global-nav-ind {
	position: relative;
}
.nav-line {
	display:inline-block;
	position:absolute;
	left:0;
	top:50%;
	width:0;
	transition: width 0.3s cubic-bezier(.8,0,.22,1);
	-webkit-transition: width 0.3s cubic-bezier(.8,0,.22,1);
}
.global-nav .nav-line {
	border-top: 3px solid #11acd1;
}
.nav-2depth .nav-line {
	border-top: 2px solid #666;
}
.global-nav-ind:hover .nav-line, .global-nav-ind.active > .nav-line {
    width:100%;
}
.nav-1depth-ind, .nav-2depth-ind {
	position: relative;
	cursor: pointer;
}
.nav-1depth-ind:hover > .nav-line, .nav-1depth-ind.active > .nav-line {
	width: 100%;
}
.nav-2depth-ind:hover > .nav-line, .nav-2depth-ind.active .nav-line {
	width: 100%;
}
.wrap {
	padding-top: 280px;
	padding-bottom: 120px;
}
.nav-2depth ul {
	position: absolute;
	list-style-type: none;
	width: 140px;
}
.category-list {
	top: 170px;
	padding-left: 0;
}
.category-list-2dep {
	left: 140px;
	top: 0;
	padding-left: 0;
}
.block {
	display: none;
	margin-right: 30px;
	margin-bottom: 60px;
	min-width: 480px;
}
.block img {
	max-width: 480px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}
.block h2 {
	margin: 30px 0;
	line-height: 1em;
	font-size: 1.3333333333333333em;
	font-weight: 700;
}
.block .thumbnail-wrap {
	transition: color 0.2s;
}
.block .thumbnail-wrap:hover {
	color: #11acd1;
}
.block .thumbnail-wrap:hover .overlay {
	opacity: 1;
}
.block .thumbnail {
	position: relative;
	display: inline-block;
	min-height: 480px;
	text-align: center;
}
.block .thumbnail .overlay {
	position: absolute;
	width: 100%;
	min-height: 480px;
	background-color: rgba(17,172,209,0.9);
	text-align: center;
	opacity: 0;
	transition: opacity 0.2s;
}
.thumbnail .overlay i {
	font-size: 1.1666666666666667em;
	letter-spacing: 0.1em;
	line-height: 480px;
	font-weight: 700;
	color: #fff;
	font-style: normal;
	text-transform: uppercase;
	padding: 0.4em 1.5em;
	border: 3px solid #fff;
}
.img-unveil {
	opacity: 0;
	transition: opacity .3s ease-in;
}
.block .category {
	margin: 0;
	padding: 0;
	list-style: none;
}
.block .category li {
	display: inline-block;
}
.block .category li button {
	padding: 0.4em 1.5em;
	color: #666;
	background-color: transparent;
	border: 1px solid #666;
	transition: all 0.2s;
	font-size: 0.8rem;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
.block .category li button:hover, .block .category li button.active {
	color: #11acd1;
	border-color: #11acd1;
}
.works-art {
	margin-top: -90px;
	padding: 0 15px 0 0;

}
.works-art img {
	max-width: 100%;
	width: 100%;
}
.works-info {
	margin-top: -90px;
}
.works-info-title {
	width: 100%;
	float: left;
}
.works-info-title h1 {
	width: 50%;
	margin: 0 0 50px 0;
	font-size: 4em;
	font-weight: 900;
	line-height: 1em;
	letter-spacing: -3px;
}
.works-info-title p {
	width: 50%;
	margin-bottom: 60px;
}
.works-info-title iframe {
	width: 50%;
}
.works-info-list h2, .works-info-body dt {
	font-weight: 700;
	font-size: 0.7777777777777778em;
	text-transform: uppercase;
}
.works-info-list h2 {
	margin: 40px 0 0 0;
}
.works-info-body dl {
	margin: 0;
}
.works-info-body dd {
	margin-left: 0;
}
.works-info-body-bottom dd {
	margin-bottom: 40px;
}
.works-info-body-top {
	margin: 40px 0 120px 0;
}
.works-info-keylink {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3333333333333333em;
	transition: all 0.2s;
}
.works-info-keylink:hover {

}
/* about */
.about-heading h1 {
	font-size: 60px;
	margin: 0 0 2em 0;
	line-height: 1.2em;
}
.about-link {
	list-style: none;
	line-height: 2em;
	padding-left: 0;
}
.about-link i {
	width: 30px;
}

/* blog */
.blog-list {
	margin: 0 -60px;
}
.blog-list > a {
	display: block;
	transition: all .1s ease-in;
}
.blog-list > a:hover {
	background-color: #eaeaea;
}
.blog-list section {
	padding: 45px 60px;
	border-bottom: 1px solid #c9c9c9;
}
.blog-list-info {
	float: left;
}
.author-img {
	border-radius: 50%;
}
.blog-list .author-img {
	float: left;
	width: 130px;
	margin-right: 40px;
}
.blog-list h2 {
	margin: 0;
	color: #11acd1;
}
.blog-list .date {
	display: block;
	margin-bottom: 13px;
	font-size: 14px;
}
.blog-list-info summary{
	margin: 0;
	max-width: 590px;
}
.post {
	max-width: 769px;
}
.post .author-img {
	float: left;
	width: 40px;
	margin-right: 10px;
}
.post .author {
	line-height: 40px;
	font-size: 20px;
}
.post h1 {
	font-size: 60px;
	margin: 24px 0;
	line-height: 1.2em;
}
.post .date {
	text-transform: uppercase;
	font-size: 1.2em;
	margin: 24px 0;
}
.post blockquote {
	padding: 1em;
	margin: 0;
	background-color: #E8E8E8;
}
.post .entry {
	margin: 72px 0;
}
.post a {
	color: #11acd1;
}
.post a:hover {
	text-decoration: underline;
}
.post figure {
	position: relative;
	margin: 0;
}
.post figcaption {
	position: absolute;
	right: -256px;
	top: 0;
	padding-top: 1em;
	font-size: 0.9em;
	width: 240px;
	color: #969696;
	border-top: 2px solid #c9c9c9;
}

.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
.embed-responsive.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}
.embed-responsive.embed-responsive-4by3 {
	padding-bottom: 75%;
}

.copyright {
	padding-top: 240px;
}
@media (max-width: 1279px) {
	.post figcaption {
		position: relative;
		width: 100%;
		right: initial;
		border-top: none;
		border-bottom: 2px solid #c9c9c9;
		padding-bottom: 1em;
	}
}
@media (max-width: 1023px) {
	.blog-list .author-img {
		width: 70px;
		margin-bottom: 0.5em;
	}
}
@media (max-width: 414px) {
	body:before, body:after {
		height: 0;
	}
	body {
		border-left: none;
		border-right: none;
	}
	.body-wrap:before, .body-wrap:after {
		left: 10px;
		right: 10px;
		height: 10px;
	}
	.body-wrap:before {
		top: 0;
	}
	.body-wrap:after {
		bottom: 0;
	}
	.body-wrap {
		padding: 0 20px;
		border-left: 10px solid #11acd1;
		border-right: 10px solid #11acd1;
	}
	.logo {
		top: 20px;
		right: 20px;
	}
		.logo a {
			padding: 33px;
		}
	/* mobile navigation icon */
	#m-nav-icon {
		display: inline-block;
		width: 23px;
		height: 20px;
		position: fixed;
		top: 36px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
	}

	#m-nav-icon span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #11acd1;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	}
	#m-nav-icon span:nth-child(1) {
		top: 0px;
	}
	#m-nav-icon span:nth-child(2),#m-nav-icon span:nth-child(3) {
		top: 8px;
	}
	#m-nav-icon span:nth-child(4) {
		top: 16px;
	}
	#m-nav-icon.open span:nth-child(1) {
		top: 8px;
		width: 0%;
		left: 50%;
	}
	#m-nav-icon.open span:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#m-nav-icon.open span:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	#m-nav-icon.open span:nth-child(4) {
		top: 8px;
		width: 0%;
		left: 50%;
	}

	/* global navigation */
	.global-nav {
		padding: 0;
		display: none;
	}
	.global-nav.open {
		display: block;
	}
	.global-nav li {
		float: none;
		margin-bottom: 0.7em;
	}
	.global-nav li:before {
		content: none;
	}

	/* blog */
	.blog-list {
		margin: 0 -20px;
	}
	.blog-list section {
		padding: 45px -20px;
	}
}