---
layout: default
---
		<h2>Latest Works</h2>
		<div id="mixitup-container">
			{% for post in site.works reversed limit:3 %}
			<div class="mix block {% for tags in post.tags %}{{ tags }} {% endfor %}">
				<a href="{{ post.url }}" class="thumbnail-wrap">
					<div class="thumbnail">
						<span class="overlay"><i>View Detail</i></span>
						<img src="{{ site.baseurl }}/img/loading.gif" data-src="{{ post.image }}" alt="{{ post.caption }}" class="img-unveil">
					</div>
					<h2>{{ post.title }}</h2>
				</a>
				<ul class="category">
					{% for tags in post.tags %}
					<li><button class="filter" data-filter=".{{ tags }}">{{ tags }}</button></li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
		</div> 