---
layout: default
title: works
---
		<div class="nav-2depth">
			<ul class="category-list">
				<li class="nav-1depth-ind filter" data-filter=".Discography"><span class="nav-line"></span>Discography
					<ul class="category-list-2dep">
						<li class="nav-2depth-ind filter" data-filter=".Original"><span class="nav-line"></span>Original</li>
						<li class="nav-2depth-ind filter" data-filter=".Arrange"><span class="nav-line"></span>Arrange</li>
						<li class="nav-2depth-ind filter" data-filter=".Regular"><span class="nav-line"></span>Regular</li>
						<li class="nav-2depth-ind filter" data-filter=".EP"><span class="nav-line"></span>EP</li>
					</ul>
				</li>
				<li class="nav-1depth-ind"><span class="nav-line"></span><a href="#">Event</a></li>
				<li class="nav-1depth-ind"><span class="nav-line"></span><a href="#">Legacy</a></li>
			</ul>
		</div>
		<div id="mixitup-container">
			{% for post in site.works reversed %}
			<div class="mix block {% for tags in post.tags %}{{ tags }} {% endfor %}">
				<a href="{{ post.url }}" class="thumbnail-wrap">
					<div class="thumbnail">
						<span class="overlay"><i>Detail View</i></span>
						<img src="{{ site.baseurl }}/img/loading.gif" data-src="{{ post.image }}" alt="{{ post.caption }}" class="img-unveil">
					</div>
					<h2>{{ post.title }}</h2>
				</a>
				<ul class="category">
					{% for tags in post.tags %}
					<li><button class="filter" data-filter=".{{ tags }}">{{ tags }}</button></li>
					{% endfor %}
				</ul>
			</div>
			{% endfor %}
			</div> 