---
layout: default
title: works
---
		{% for post in site.works %}
		<div class="block">
			<a href="{{ post.url }}" class="thumbnail-wrap">
				<div class="thumbnail">
					<span class="overlay"><i>Detail View</i></span>
					<img src="{{ post.image }}" alt="{{ post.caption }}">
				</div>
				<h2>{{ post.title }}</h2>
			</a>
			<ul class="category">
				{% for tags in post.tags %}
				<li><a href="{{ post.tags.{{ tags }} }}">{{ tags }}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}