<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}">
  <!-- normalize -->
  <link href="{{ site.baseurl }}/css/normalize.min.css" rel="stylesheet" type="text/css">
  <!-- webfonts -->
  <!--link href="{{ site.baseurl }}/css/fonts.css" rel="stylesheet" type="text/css"-->
  <link href='http://notosanskr-hestia.s3-website-ap-northeast-1.amazonaws.com/stylesheets/NotoSansKR-Hestia.css' rel='stylesheet' type='text/css'>
  <!-- website stylesheet -->
  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" type="text/css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
<div class="body-wrap">
  <h1 class="logo"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
  <nav class="global-nav">
    <ul>
      <li><a href="{{ site.baseurl }}/works">Works</a></li>
      <li><a href="{{ site.baseurl }}/about">About</a></li>
      <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
      <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="wrap">
    {{ content }}
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.unveil.js"></script>
<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script src="{{ site.baseurl }}/js/init.unveil.js"></script>
<script src="{{ site.baseurl }}/js/init.mixitup.js"></script>
</body>
</html>